* {
  padding: 0;
  margin: 0;
}

.warp {
  width: 100%;
  height: 100%;
}

.warp h1 {
  width: 100%;
  height: 15%;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.warp .list {
  width: 100%;
  height: 85%;
}

.warp .list li {
  width: 100%;
  height: 20%;
  border-top: 1px solid #ccc;
  margin-top: 5%;
  line-height: 200%;
}
